<div class="app-bar">
    <h3>{{titulo}}</h3>

    <div class="form-inline">
        Trilha:&nbsp;<select name="trilha" id="trilha"
                             ng-options="option.nome for option in trilhas track by option.$id"
                             ng-model="trilha"
                             ng-change="trilhaChange()"
                             class="form-control"></select>&nbsp;

        <button class="btn btn-success" ng-click="addTrilhaClick()">+ Trilha</button>&nbsp;
        <button class="btn btn-primary" ng-click="addPalestraClick()">+ Palestra</button>&nbsp;
        <button class="btn btn-primary" ng-click="addWorkshopClick()">+ Workshop</button>
    </div>

</div>

<div class="area">
    <div class="lista">
        <h3>Trilha: {{trilha.nome}}</h3>
        <div class="item" ng-repeat="(key, palestra) in palestras" ng-click="palestraClick(palestra)">
            <div class="data">
                <span class="badge">{{parseDate(palestra.hora)}}</span>
            </div>
            <div class="dados">
                <strong>{{palestra.nome}}</strong>
                <em>{{palestra.autor.nome}}</em>
            </div>
        </div>

    </div>

    <div class="lista">
        <h3>Workshops</h3>
        <div class="item" ng-repeat="(key, work) in workshops" ng-click="workshopClick(work)">
            <div class="data">
                <span class="badge">{{parseDate(work.horaInicio)}}</span>
            </div>
            <div class="dados">
                <strong>{{work.nome}}</strong>
                <em>{{work.autor[0].nome}}</em>
            </div>
        </div>
    </div>
</div>