<div class="formu">

    <form name="form" novalidate ng-submit="salvarPalestra()">

        <div class="row">
            <div class="col-lg-6">
                <!--<div class="panel panel-default">
                    <div class="panel-heading"><strong>Palestra</strong></div>
                    <div class="panel-body">



                    </div>
                </div>-->
                <div class="form-group">
                    <label for="trilha">Trilha*</label>
                    <select name="trilha" id="trilha"
                            ng-options="option.nome for option in trilhas track by option.$id"
                            ng-model="trilha" class="form-control"></select>
                </div>

                <div class="form-group">
                    <label for="hora">Hora da palestra*</label>
                    <!--<input type="text" name="hora" id="hora" ng-model="novo.hora" class="form-control"
                           ng-class="{'red': form.hora.$invalid && form.hora.$touched}" value="{{parseDate(novo.hora)}}"
                           mask="39/19/9999 69:69" placeholder="dd/mm/aaaa hh:mm" required>-->
                    <input date-time id="hora"
                           ng-model="data.dia"
                           min-date="minDate"
                           view="hours"
                           min-view="hours"
                           timezone="America/Bahia"
                           format="DD/MM/YYYY HH:mm"
                           watch-direct-changes="true"
                           ng-class="{'red': form.hora.$invalid && form.hora.$touched}"
                           class="form-control">
                </div>


                <div class="form-group">
                    <label for="nome">Palestra*</label>
                    <input type="text" name="nome" id="nome" ng-model="novo.nome" class="form-control"
                           ng-class="{'red': form.nome.$invalid && form.nome.$touched}" required>
                </div>

                <div class="form-group">
                    <label for="servico">Serviço</label>
                    <input type="checkbox" id="servico" ng-model="novo.servico">
                </div>

                <div class="form-group" ng-show="novo.servico">
                    <label for="icone">Icone do serviço (BASE64 do <a href="http://flaticon.com" target="_blank">flaticon.com</a>)</label>
                    <input type="text" name="icone" id="icone" ng-model="novo.icone" class="form-control">
                </div>

                <div ng-hide="novo.servico">
                    <div class="form-group">
                        <label for="descricao">Descrição*</label>
                                    <textarea name="descricao" id="descricao" class="form-control"
                                              ng-model="novo.descricao"
                                              ng-class="{'red': form.descricao.$invalid && form.descricao.$touched}"
                                              required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="capa">URL de Capa da Palestra*</label>
                        <input type="text" name="capa" id="capa" ng-model="novo.capa" class="form-control"
                               ng-class="{'red': form.capa.$invalid && form.capa.$touched}"
                               placeholder="http://" required>
                    </div>

                    <div class="form-group">
                        <label for="slide">URL do Arquivo de Slide da Palestra</label>
                        <input type="text" id="slide" ng-model="novo.slide" class="form-control"
                               placeholder="http://">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="panel panel-default" ng-hide="novo.servico">
                    <div class="panel-heading"><strong>Palestrante</strong></div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="autor.nome">Nome*</label>
                            <input type="text" name="autor-nome" id="autor.nome" ng-model="novo.autor.nome"
                                   class="form-control"
                                   ng-class="{'red': form.autor-nome.$invalid && form.autor-nome.$touched}"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="autor.avatar">URL do Avatar do Palestrante*</label>
                            <input type="text" name="autor-avatar" id="autor.avatar" ng-model="novo.autor.avatar"
                                   class="form-control"
                                   ng-class="{'red': form.autor-avatar.$invalid && form.autor-avatar.$touched}"
                                   placeholder="http://" required>
                        </div>

                        <div class="form-group">
                            <label for="autor.bio">Mini-biografia*</label>
                                <textarea id="autor.bio" name="autor-bio" class="form-control" ng-model="novo.autor.bio"
                                          ng-class="{'red': form.autor-bio.$invalid && form.autor-bio.$touched}"
                                          required></textarea>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" placeholder="e-mail" ng-model="redes.email">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" placeholder="URL site pessoal" ng-model="redes.link">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="URL Github" ng-model="redes.github">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="@twitter" ng-model="redes.twitter">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="center">
                    <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid" ng-show="!novo.servico">SALVAR PALESTRA</button>
                    <button class="btn btn-primary" type="submit" ng-show="novo.servico">SALVAR SERVIÇO</button>
                    <button class="btn btn-danger" type="button" ng-show="novo.$id" ng-click="excluirClick(novo)">EXCLUIR</button>
                </div>

            </div>
        </div>

    </form>

</div>