<div class="cad-trilha">

    <form name="formT" novalidate ng-submit="salvarTrilha()">
        <div date-picker
             ng-model="data.dia"
             min-date="minDate"
             view="date"
             min-view="date"
             timezone="America/Bahia"
             format="DD/MM/YYYY"
             watch-direct-changes="true" class="calendario"></div>

        <input type="text"
               name="nome"
               ng-model="trilha.nome"
               class="form-control"
               ng-class="{'red': formT.nome.$invalid && formT.nome.$touched}"
               placeholder="Nome da trilha..."
               required>

        <button class="btn btn-primary" type="submit" ng-disabled="!formT.$valid">Salvar</button>
    </form>
</div>