<div class="cad-workshop">
    <form name="form" novalidate ng-submit="salvarWorkshop()">

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="horaInicio">Hora de início do workshop*</label>
                    <input date-time id="horaInicio"
                           ng-model="data.horaInicio"
                           min-date="minDate"
                           view="hours"
                           min-view="hours"
                           timezone="America/Bahia"
                           format="DD/MM/YYYY HH:mm"
                           watch-direct-changes="true"
                           ng-class="{'red': form.horaInicio.$invalid && form.horaInicio.$touched}"
                           class="form-control">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="horaFim">Hora de término do workshop*</label>
                    <input date-time id="horaFim"
                           ng-model="data.horaFim"
                           min-date="minDate"
                           view="hours"
                           min-view="hours"
                           timezone="America/Bahia"
                           format="DD/MM/YYYY HH:mm"
                           watch-direct-changes="true"
                           ng-class="{'red': form.horaFim.$invalid && form.horaFim.$touched}"
                           class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="nome">Workshop*</label>
            <input type="text" name="nome" id="nome" ng-model="novo.nome" class="form-control"
                   ng-class="{'red': form.nome.$invalid && form.nome.$touched}" required>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição*</label>
            <textarea name="descricao" id="descricao" class="form-control"
                      ng-model="novo.descricao"
                      ng-class="{'red': form.descricao.$invalid && form.descricao.$touched}"
                      required></textarea>
        </div>

        <div class="form-group">
            <label for="capa">URL de Capa do Workshop*</label>
            <input type="text" name="capa" id="capa" ng-model="novo.capa" class="form-control"
                   ng-class="{'red': form.capa.$invalid && form.capa.$touched}"
                   placeholder="http://" required>
        </div>

        <div class="form-group">
            <label for="local">Local do Workshop*</label>
            <input type="text" name="local" id="local" ng-model="novo.local" class="form-control"
                   ng-class="{'red': form.local.$invalid && form.local.$touched}"
                   placeholder="ex.: sala 6" required>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="autor1">Autor 1*</label>
                    <input type="text" name="autor1" id="autor1" ng-model="autores.autor1" class="form-control"
                           ng-class="{'red': form.autor1.$invalid && form.autor1.$touched}"
                           placeholder="josé da silva" required>
                </div>
                <div class="form-group">
                    <label for="avatar1">URL do avatar*</label>
                    <input type="text" name="avatar1" id="avatar1" ng-model="autores.avatar1" class="form-control"
                           ng-class="{'red': form.avatar1.$invalid && form.avatar1.$touched}"
                           placeholder="http://" required>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="autor2">Autor 2</label>
                    <input type="text" name="autor2" id="autor2" ng-model="autores.autor2" class="form-control"
                           placeholder="josé da silva">
                </div>
                <div class="form-group">
                    <label for="avatar2">URL do avatar</label>
                    <input type="text" name="avatar2" id="avatar2" ng-model="autores.avatar2" class="form-control"
                           placeholder="http://">
                </div>
            </div>
        </div>

        <div class="center">
            <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid">SALVAR WORKSHOP</button>
            <button class="btn btn-danger" type="button" ng-show="novo.$id" ng-click="excluirClick(novo)">EXCLUIR</button>
        </div>

    </form>
</div>