/* app css stylesheet */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;

    padding: .5em;
    background: #c0c0c0;
}
.app-bar h3 {
    flex-grow: 1;
}
.area {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    height: 85vh;
}
.area .lista {
    width: 50%;
    border-right: 1px solid #e0e0e0;
}
.area .lista:last-child {
    border-right: 0;
}
.area .lista h3 {
    border-bottom: 1px solid #e0e0e0;
    padding: .5em;
    margin: 0;
}
.item {
    padding: .5em;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.item:hover {
    background: rgba(224, 224, 224, 0.27);
}
.item .data {
    width: 20%;
}
.item .dados {
    width: 80%;
}
.item strong, .item em {
    display: block;
}
.center {
    text-align: center;
}
.red {
    border-color: red;
}
.formu {
    width: 100%;
    margin: auto;
    padding: 1em;
}
.modal-cad-palestra {
    width: 80vw !important;
}
.modal-cad-trilha {
    width: 300px !important;
}

.cad-trilha {
    text-align: center;
}
.cad-trilha .calendario {
    width: 100%;
    max-width: 260px;
    margin: auto;
}
.cad-trilha button {
    margin-top: .5em;
}